sample-jenkins/src/main/mule/sample-jenkins.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="26b78465-a205-4474-8ed0-da67213b7fe8" basePath="/api" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sample-jenkinsFlow" doc:id="8e882990-5a73-45fe-bbd2-de71049cec11" >
		<http:listener doc:name="Listener" doc:id="3302e3cf-83ab-4725-9738-ed6a594145f7" config-ref="HTTP_Listener_config" path="/sample/{name}"/>
		<ee:transform doc:name="Transform Message" doc:id="19f74074-f7cd-4825-9148-b9c9d1ec8908" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"Hello!, " ++ (attributes.uriParams.name default "")]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="b77ffb1e-1152-4a47-8332-e0a5c834fa1a" message="RESPONSE :::: #[payload]"/>
	</flow>
</mule>
